---
export const prerender = false;

import Root from "../components/layouts/BaseLayout.astro";
import RootContent from "../components/layouts/RootContent.astro";
import Seo from "../components/layouts/BaseSEO.astro";

import IFViewport from "../components/layouts/viewports/preview.jsx";

import SidePane from "../components/layouts/controlPane/pane.astro";

const url = new URL(Astro.request.url);
const sourceParam = url.searchParams.get("source");
const liveParam = url.searchParams.get("live");

// Only accept full URLs, redirect otherwise
if (!sourceParam || 
    sourceParam.trim() === "" || 
    !(sourceParam.startsWith("http://") || sourceParam.startsWith("https://"))) {
    console.warn("REDIRECT: Source parameter must be a valid URL.");
    return Astro.redirect("/");
}

//console.log(`[Astro] SourceParam read: "${sourceParam}"`);
//console.log(`[Astro] LiveParam read: "${liveParam}"`);

// Determine if we should show live site or snapshot
const isLive = liveParam === "true";

// Extract domain from the URL
const sourceDomain = new URL(sourceParam).hostname;

// Determine the source location based on live parameter

const displaySource = isLive ? sourceParam : "/api/snapshot?url=" + sourceParam;
---

<Seo title="Home - Justinwhite.work" />

<Root title="Home - Justinwhite.work">
  <div
    class="
    h-screen w-screen overflow-hidden p-2 flex flex-row gap-2
    bg-[linear-gradient(to_right,#ffffff05_1px,transparent_1px),linear-gradient(to_bottom,#ffffff05_1px,transparent_1px)] 
    bg-[size:24px_24px] bg-base-200
    "
    data-theme="prime100"
  >

    <SidePane/>

    <IFViewport
      sourceLocation={displaySource}
      liveLocation={sourceParam}
      title="Document"
      subtitle={sourceDomain}
      client:only="react"
    />

  </div>
</Root>